Lab1 Concentrates on first 3 experiments of syllabus

a) Demonstrate about Basics of Python Programming

b) Demonstrate about fundamental Data types in Python Programming

c) Demonstrate different Arithmetic Operations on numbers in Python

The objective is to familiarise students without computer background to make simple programs using python. And to develop the sequential thinking.

# 1. Find whether given number is odd or even

In [35]:
num = 5
if num % 2 == 1:
    print("Odd")
else:
    print("Even")

Odd

In [36]:
#This is how you write comments in python. Comments are for humans to read. Computer will not read your comments!
#Lets try to input the number from user. Let's first see what input() function return type is?
num = input("Enter number:")
print(type(num))

Enter number:4
<class 'str'>

In [37]:
#Its a string. We cannot do mathematical operations on it. So if we do num+num we get concatenation instead of sum
num = input("Enter number:")
print(num+num)

Enter number:4
44

In [38]:
#Let's use builtin function int() to convert type. input(), print() & type() are other builtin functions
num = input("Enter number:")
num_i = int(num)
print(type(num_i))
print(num_i + num_i)

Enter number:4
<class 'int'>
8

In [39]:
#Let's now do the full program
num=int(input("Enter number:"))
if num % 2 == 1:
    print("Odd")
else:
    print("Even")

Enter number:4
Even

# 2. Display the lowest of the two numbers given

In [40]:
#Inputs
num1 = 5
num2 = 7

In [41]:
#Program
if num1 < num2:
    print(num1, "is the lowest")
else:
    print(num2, "is the lowest")

5 is the lowest

In [42]:
#Another solution: Less typing
if num1 < num2:
    lowest = num1
else:
    lowest = num2
print(lowest, "is the lowest")

5 is the lowest

#### EXERCISE: Now use other comparison operators like <= , >, >= to solve the problem.

#### EXERCISE: What happens if you change the type of num1 and num2 to float, string etc.? Observe the results.

In [43]:
#Floats
#Inputs
num1 = 5.0
num2 = 7.0

In [44]:
#Strings
#Inputs
num1 = "5"
num2 = "7"

In [45]:
#Try this string also
#Inputs
num1 = "55"
num2 = "7"

#### MORAL: String comparison works different from integer comparison

# 3. Display the lowest of a list of numbers

In [46]:
#Define the input list
L=[10, 5, 3, 2, 6, 7]

In [47]:
#Can we print the list? What will type() say?
print(L)
print(type(L))

[10, 5, 3, 2, 6, 7]
<class 'list'>

In [48]:
#Program
lowest=L[0] #Assign zero'th element of list to variable lowest. Indexing a list
for num in L:
    if num < lowest:
        lowest = num
print(lowest)

2

#### EXERCISE: Print just the 3rd element of the list.

#### EXERCISE: Find the largest number in list

![image](https://nustat.github.io/DataScience_Intro_python/datatypes.png)

In [49]:
#Ok, we saw int, float, str and list. We will look at Tuple and Dictionary as need arises
#What about Boolean and None?
#Let's assign the comparison operator output to a variable and check it's type
num1 = 5
num2 = 7
num1IsBig = num1 > num2
print(num1IsBig)
print(type(num1IsBig))

False
<class 'bool'>

In [50]:
#Comparison results are of type boolean Possible values are True & False. Notice capital T and F. Also notice, that
#it is not a string. ie. Not "True" or "False"
result = False
if result:
    print("T")
else:
    print("F")
print(type(result))

F
<class 'bool'>

#### EXERCISE: Try giving small letter true and false

In [51]:
#Sometimes we want to create a variable. But not assign any valid value to it. That's where None type helps us

#Here a fresh student may not yet have a roll number. So the advisor can enter blank roll no or a negative roll no
# to not assign a roll number to the student
roll = None
print(roll)
print(type(roll))
num_s = input("Enter Roll#:")
if num_s != "":
    roll = int(num_s)
    if roll < 0:
        roll = None
print(roll)
print(type(roll))
if roll:
    print("Has got roll no")

None
<class 'NoneType'>
Enter Roll#:
None
<class 'NoneType'>

The advantage of none type may not be very obvious with above example. But there are more advanced cases involving classes and member functions(object oriented and functional programming) where None type helps a lot in simplifying code...

# 4. Find and display sum of all numbers of a list

In [52]:
#Input
L=[1, 3, 5, 7, 9, 11, 13]

In [53]:
#Program
s = 0
for item in L:
    s = s + item
print(s)

49

#### EXERCISE: Try other arithmetic operators: +, - , *, /, **, //, %

# Following Programs are to develop the logic of students, and should be solved by students using already learned python syntax

# 5. Find the lowest odd number in a list

In [54]:
#Input
L=[2, 3, 5, 7, 9, 11, 13]
#L=[2, 4, 6, 8]

In [55]:
#Program

#First extract the odd numbers to a new list named odds[]
odds = []
for item in L:
    if item % 2 == 1:
        odds.append(item)

#Find the lowest number in the list odds[]
lowest = odds[0]
for num in odds:
    if num < lowest:
        lowest = num

print("Lowest odd:", lowest)

Lowest odd: 3

In [56]:
#Another Program
#Find some odd number and use that to initialize lowest.
lowest = None
for item in L:
    if item%2 == 1:
        lowest = item
if not lowest:
    print("No odd numbers in list")
else:
    
    #Then it is mostly same as the problem 3
    for item in L:
        if item %2 == 1 and item < lowest:
            lowest = item
    print("lowest odd:", lowest)

lowest odd: 3

# 6. Count the number of odd numbers in a list

In [57]:
#Input
L=[2, 3, 5, 7, 9, 11, 13]
#L=[2, 4, 6, 8]

In [58]:
#Program
count = 0
for item in L:
    if item % 2 == 1:
        count = count + 1

print("odd count:", count)

odd count: 6

In [59]:
#Another way
count = 0
for item in L:
    if item % 2 == 1:
        count += 1    #Shortcut for count =  count + 1

print("odd count:", count)

odd count: 6

#### EXERCISE: Familiarise with other assignment operators -=, *=, /=, //=, %=, **= ...

# 7. Find sum of every alternate number in a list

In [60]:
#Input
L=[2, 3, 5, 7, 9, 11, 13]
#L=[2, 4, 6, 8]

In [61]:
#Program: L[0] + L[2] + L[4] + ...
pos="even"
sum = 0
for item in L:
    if pos == "even":
        sum += item
        pos = "odd"
    else:
        pos = "even"
print(sum)

29

In [62]:
#More compact:
sum = 0
for idx in range(len(L)):
    if idx%2 == 0:
        sum += L[idx]
print(sum)

29

In [63]:
#Familiarise the range function by tweaking this. For all practical purpose you can consider it returning a list
# of numbers starting 0 and incrementing to one count before the range's input
for idx in range(10):
    print(idx)
    
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(type(list(range(10))))

0
1
2
3
4
5
6
7
8
9
range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [64]:
#More compact
sum = 0
for idx in range(0, len(L), 2):
    print(idx)
    sum += L[idx]
print("Sum:", sum)

0
2
4
6
Sum: 29

# 8. Find sum of all odd numbers in a list

In [65]:
#Input
L=[2, 3, 5, 7, 9, 11, 13]
#L=[2, 4, 6, 8]

In [66]:
#Program
sum =0
for item in L:
    if item % 2 == 1:
        sum += item
print(sum)

48

# 9. Find factorial of a number (Lab 3)

In [67]:
#Input
N=4

In [68]:
#Program
factorial = 1
for num in range(N):
    factorial *= (num+1)
print(factorial)

24

# 10. Find all prime numbers less than a given N (Lab 3)

In [69]:
#Nested Loops:

In [70]:
#Functions